* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html{
    font-size: 100%;
    font-family: quantico, sans-serif;
    }    

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header, footer{
    background-color:darkgoldenrod;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 1rem;
}

div.logo {
    display: flex;
    width: 100%;
    height: auto;
}

header nav ul {
    display:flex;
    list-style: none;
    gap: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

header nav ul li a{
    text-decoration:none;
    color:black;
}

footer .footer-list {
    width: auto;
    display:flex;
    list-style: none;
    gap: 2rem;
    padding: 1rem 1rem;
}

.footer-list img {
    display: flex;
    width: 5rem;
    height: auto;
}   

main {

    }    
